.best-sellers{
    h3{
        &{
            position: relative;
            width: 80%;
            margin: 1rem auto;
        }
        &::after{
            content: "";
            border-bottom: 5px solid #C0C0C0;
            position: absolute;
            width: 50px;
            left: 0;
            bottom: -10px;
        }
    }
    .slider{
        &{
            width: 80%;
            margin: 1rem auto;
        }
        .slick-prev:before, .slick-next:before{
            color: #000;
        }
    }
}