.footer {
    &{
        background-color: #000;
        color: #fff;
        padding: 1rem 2rem;
    }
    .grid{
        &{
            display: flex;
            max-width: 1300px;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
        }
        div{
            margin: 0 0.5rem;
        }
        .location{
            &{

            }
            .title{
                &{
                    position: relative;
                }
                &::after{
                    content: "";
                    border-bottom: 5px solid #fff;
                    position: absolute;
                    width: 50px;
                    left: 0;
                    bottom: -10px;
                }
            }
            a{
                color: #fff;
            }
        }
        .buttons{
            &{
                display: flex;
                flex-direction: column;
            }
            button {
                &{
                    background-color: #fff;
                    color: #000;
                    width: 200px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0.5rem 0;
                    cursor: pointer;
                    border-radius: 5px;
                }
                svg{
                    height: 25px;
                    width: 40px;
                }
                span{
                    flex-grow: 1;
                }
            }
        }
        .rights{
            &{
                display: flex;
                justify-content: space-around;
                width: 300px;
            }
            picture{
                &{
                    display: flex;
                    flex-direction: column;
                }
                span{
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    .footer{
        .grid{
            flex-direction: column;
        }
    }
}