.header{
    &{
        display: flex;
        max-width: 1300px;
        align-items: center;
        justify-content: space-between;
        margin: 1rem auto;
        padding: 0 1rem;
    }
    .mobile-menu{
        display: none;
    }
    .menu{
        &{
            display: flex;
            align-items: center;
        }
        &+.menu{
            margin-left: 2rem;
        }
    }
    .menu-profile{
        p{
            margin-left: 0.5rem;
        }
    }
    .menu-cart{
        span{
            margin-left: 0.5rem;
            border-radius: 15px;
            background-color: #F8475F;
            color: #fff;
            padding: 0 6px;
        }
    }
    .menu.menu-search{
        &{
            border-bottom: 1px solid;
            flex-grow: 1;
            margin-left: 4rem;
        }
        svg{
            margin-left: auto;
        }
        input{
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            flex-grow: 1;
        }
    }
    img{
        height: 40px;
    }
}
@media (max-width:600px){
    .header{
        flex-wrap: wrap;
        .mobile-menu{
            display: block;
            position: relative;
            margin-left: 1rem;
        }
        .menu + .menu{
            margin-left: 0;
        }
        .menu-profile{
            &{
                visibility: hidden;
                opacity: 0;
                top: 45px;
                position: absolute;
                background-color: rgba(#000, 0.8);
                color: #fff;
                transition: ease opacity 0.5s;
                z-index: 999;
                padding: 0 1rem;
            }
            &.active{
                opacity: 1;
                visibility: visible;
                transition: ease opacity 0.5s;
            }
        }
        .menu-cart{
            &{
                order: 2;
                margin: 0 1rem;
            }
        }
        .menu.menu-search{
            order: 3;
            margin: 1rem;
            margin-left: 1rem;
        }
    }
}