.newsletter{
    &{
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 2rem 0;
    }
    .title{
        font-size: 22px;
    }
    .newsletter-form{
        &{
            display: flex;
        }
        label{
            &{
                display: flex;
                flex-direction: column;
            }
            input{
                &{
                    width: 280px;
                    height: 50px;
                    border-radius: 5px;
                    font-weight: bold;
                    padding: 0 0 0 10px;
                    box-sizing: border-box;
                    border: none;
                }
                &.error{
                    border: 1px solid #D7182A;
                }
            }
            span{
                color: #D7182A;
            }
        }
        label + label{
            margin: 0 1rem;
        }
    }
    .btn-form{
        background-color: #000;
        color: #fff;
        text-align: center;
        height: 53px;
        border-radius: 5px;
        padding: 3px 2rem;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
    &.success{
        padding: 2rem 0;
        p{
            margin: 0;
            font-size: 12px;
        }
        b{
            font-size: 14px;
        }
        .btn-form{
            margin-top: 1rem;
            padding: 3px 5rem;
        }
    }
}

@media screen and (max-width:750px){
    .newsletter{
        .title{
            width: 95%;
        }
        .newsletter-form{
            &{
                flex-direction: column;
            }
            label + label{
                margin: 1rem 0;
            }
        }
    }
}