.products{
    &{
        min-height: 350px;
    }
    img{
        margin: auto;
        max-height: 200px;
    }
    .react-stars{
        margin: auto;
    }
    p{
        &{
            margin: 0.5rem 0;
            text-align: center;
            min-height: 21px;
        }
        &.light-price{
            font-weight: 300;
        }
    }
}

@media screen and (max-width: 500px) {
    .products{
        &{

        }
        img{
            max-height: 120px;
        }
    }
}